# Learning material

This notebook is for handy code snippets.

In [1]:
import pandas as pd
import numpy as np

### Error handling

#### Try, except

In [2]:
total_marks = int(input('Enter total marks'))
num_sections = int(input('Enter number of sections'))
try:
    marks_per_section = total_marks / num_sections
except ZeroDivisionError:
    print('The number of sections cannot equal 0')
else:
    print(marks_per_section)

The number of sections cannot equal 0

#### Assert

In [3]:
total_marks = int(input('Enter total marks'))
num_sections = int(input('Enter number of sections'))
assert(num_sections != 0), 'The number of sections cannot equal 0' 
marks_per_section = total_marks / num_sections

AssertionError: The number of sections cannot equal 0

### Pandas

#### String formatting

In [4]:
a = 'Rachel'
b = 'Georgia'
d = 'Charlotte'
"The story of {0}, {1}, and {c}".format(a, b, c=d)

'The story of Rachel, Georgia, and Charlotte'

#### Shift

In [5]:
df = pd.DataFrame({'balance': [15, 21, 23, 24], 
                  'value': [5, 6, 2, 1],})

cols = ['value', 'balance']
df = df[cols]

df['manual balance'] = df['balance'].shift() + df['value']
df['check balance'] = df['balance'] == df['manual balance']
df

   value  balance  manual balance  check balance
0      5       15             NaN          False
1      6       21            21.0           True
2      2       23            23.0           True
3      1       24            24.0           True

#### Cumulative sum and groupby

In [6]:
test = pd.DataFrame({'period': [1,1,1,2,2,3,3],
              'cost': [10,20,15,10,5,20,5]})

test = test[['period', 'cost']]
test['cumulative_sum'] = test.groupby('period')['cost'].cumsum()
test

   period  cost  cumulative_sum
0       1    10              10
1       1    20              30
2       1    15              45
3       2    10              10
4       2     5              15
5       3    20              20
6       3     5              25

#### Index of minimum/maximum

In [7]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df

,a,b,c,d,e,f,g,h,i,j
0,0.577446,0.679220,0.284955,0.432688,0.178198,0.590980,0.602909,0.592669,0.816269,0.049761
1,0.550927,0.846583,0.112150,0.193522,0.399773,0.352288,0.344309,0.401591,0.442094,0.330732
2,0.776753,0.157719,0.813405,0.973551,0.075997,0.133302,0.135765,0.508705,0.452128,0.122470
3,0.581573,0.403311,0.939548,0.476694,0.152202,0.309634,0.048572,0.959195,0.553317,0.872462
4,0.105368,0.608343,0.124890,0.530256,0.264975,0.886712,0.021220,0.771149,0.164942,0.759860

In [10]:
df.sum(axis=0).idxmin()

'e'

#### Creating random numbers

In [19]:
df = pd.DataFrame(data = {'A': list(range(1, 101)), 
                     'B': np.random.randint(low = 0, high = 100, size = 100)})
df.head(10)

    A   B
0   1  56
1   2  12
2   3  38
3   4  46
4   5  68
5   6   6
6   7  66
7   8   8
8   9  30
9  10  45

In [18]:
pd.DataFrame(data = np.random.random(size = (10, 5)), 
            columns = ['oh','laddergoat', 'you', 'so', 'random'])

         oh  laddergoat       you        so    random
0  0.755644    0.345067  0.378094  0.346409  0.385111
1  0.715470    0.363983  0.847231  0.771350  0.309999
2  0.465414    0.757029  0.762940  0.082927  0.248606
3  0.386172    0.372757  0.714492  0.897978  0.305116
4  0.399588    0.914691  0.675442  0.793690  0.071558
5  0.084649    0.585339  0.986062  0.901771  0.960465
6  0.876602    0.801041  0.283587  0.609257  0.588646
7  0.150183    0.207988  0.829878  0.349000  0.872399
8  0.801538    0.866834  0.916606  0.301875  0.802118
9  0.335914    0.660649  0.854229  0.352759  0.606650

#### Assigning values in a dataframe to bins

In [36]:
df = pd.DataFrame(data = {'A': np.random.randint(low = 0, high = 100, size = 15), 
                     'B': np.random.randint(low = 0, high = 100, size = 15)})
df

     A   B
0   95  21
1   53  48
2   96  95
3   39  59
4   49  34
5   91  36
6   72  29
7   45  53
8   95  47
9   97  60
10  51  30
11  97  65
12  11  45
13   0  35
14  56  21

In [37]:
my_range = np.arange(0,101,10)
my_range

array([  0,  10,  20,  30,  40,  50,  60,  70,  80,  90, 100])

In [38]:
pd.cut(df['A'],my_range)

0     (90, 100]
1      (50, 60]
2     (90, 100]
3      (30, 40]
4      (40, 50]
5     (90, 100]
6      (70, 80]
7      (40, 50]
8     (90, 100]
9     (90, 100]
10     (50, 60]
11    (90, 100]
12     (10, 20]
13          NaN
14     (50, 60]
Name: A, dtype: category
Categories (10, interval[int64]): [(0, 10] < (10, 20] < (20, 30] < (30, 40] ... (60, 70] < (70, 80] < (80, 90] < (90, 100]]