# Learning material

This notebook is for study questions.

In [1]:
import pandas as pd
import numpy as np

### Error handling

#### Try, except

In [2]:
total_marks = int(input('Enter total marks'))
num_sections = int(input('Enter number of sections'))
try:
    marks_per_section = total_marks / num_sections
except ZeroDivisionError:
    print('The number of sections cannot equal 0')
else:
    print(marks_per_section)

The number of sections cannot equal 0

#### Assert

In [3]:
total_marks = int(input('Enter total marks'))
num_sections = int(input('Enter number of sections'))
assert(num_sections != 0), 'The number of sections cannot equal 0' 
marks_per_section = total_marks / num_sections

AssertionError: The number of sections cannot equal 0

### Pandas

#### String formatting

In [4]:
a = 'Rachel'
b = 'Georgia'
d = 'Charlotte'
"The story of {0}, {1}, and {c}".format(a, b, c=d)

'The story of Rachel, Georgia, and Charlotte'

#### Shift

In [5]:
df = pd.DataFrame({'balance': [15, 21, 23, 24], 
                  'value': [5, 6, 2, 1],})

cols = ['value', 'balance']
df = df[cols]

df['manual balance'] = df['balance'].shift(1) + df['value']
df['check balance'] = df['balance'] == df['manual balance']
df

   value  balance  manual balance  check balance
0      5       15             NaN          False
1      6       21            21.0           True
2      2       23            23.0           True
3      1       24            24.0           True

#### Cumulative sum and groupby

In [6]:
test = pd.DataFrame({'period': [1,1,1,2,2,3,3],
              'cost': [10,20,15,10,5,20,5]})

test = test[['period', 'cost']]
test['cumulative_sum'] = test.groupby('period')['cost'].cumsum()
test

   period  cost  cumulative_sum
0       1    10              10
1       1    20              30
2       1    15              45
3       2    10              10
4       2     5              15
5       3    20              20
6       3     5              25